<header>
    <nav>
        <a href="/">AudioStore</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/audios">Audios</a></li>
            <li><a href="/audios/new">Add Audio</a></li>
        </ul>
    </nav>
</header>